.demo {
  padding: 16px;
}

@import '../../node_modules/ng-zorro-antd/ng-zorro-antd.less';

button {
  margin-left: 8px;
}
.maintain-button {
  margin-right: 0px;
  margin-left: 16px;
}

.maintain-item {
  margin-bottom: 0px !important;
}

.maintain-select {
  width: 320px;
}

svg {
  vertical-align: unset;
}

@primary-color: #546e95;
@table-header-color: #fff;
@table-header-bg: @primary-color;
@table-header-sort-bg: @primary-color;

@modal-header-bg: @primary-color;
@modal-header-title-line-height: 16px;
@modal-heading-color: @table-header-color;
@modal-header-padding-vertical: 8px;
@modal-header-padding-horizontal: 8px;
@modal-header-close-size: 16px;
@modal-close-color: @modal-heading-color;

.ant-modal-close {
  color: #fff;
  top: 8px;
  right: 5px;
}

.ant-modal-close:focus, .ant-modal-close:hover {
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 5px 0 5px 0;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: rgb(116, 116, 116);
}


.item {
  height: 200px;
}
